.swiper-container {
  width: 500px;
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
  border-color: black;
  
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.slaceImg{
  min-width: 500px;
  width: 100%;
  height: 400px;
  
}

.slaceImg2{
  min-height: 120px;
}
.mrgSlice{
  margin-top: 4px;
}